@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);
html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
	-webkit-font-smoothing: antialiased;
	font: normal 14px arial, sans-serif;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}


/* Wrapper for page content to push down footer */

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}


/* Set the fixed height of the footer here */


/* Custom page CSS
-------------------------------------------------- */

#wrap > .container {
	padding: 60px 15px 0;
}

.container .credit {
	margin: 20px 0;
}

#footer {
	background-color: #414141;
}

#footer a {
	color: #efefef;
}

h2,
h3,
h4 {
	font-family: 'Kreon', serif;
	vertical-align: middle;
}

header {
	height: 750px;
	color: #000000;
	background: linear-gradient(#ee1d23, transparent 20%), #ee1d23 url('../img/main.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 850px;
}

.lol-text {
	height: 90px;
	line-height: 90px;
}

header h2,
header h3 a,
header a,
header a:hover {
	color: #101010;
	font-weight: 800;
	text-decoration: none;
}

header h3 {
	font-family: 'Kreon', serif;
	background: #ffcc33;
	padding: 10px;
	border-radius: 3px;
	font-size: 34px;
	padding: 12px 10px 6px 10px;
}

header .dropdown-menu {
	top: 74px;
	background: #ffcc33;
	border-width: 0;
}

h1 {
	font-size: 50px;
}

.divider {
	height: 100px;
}

.panel {
	border-width: 0;
}

@media (max-width: 768px) {
	header {
		height: 95px;
	}
}

#map-canvas {
	width: 100%;
	height: 300px;
	margin: 0;
	padding: 15px;
}

.scroll-top {
	position: fixed;
	bottom: 0;
	right: 6%;
	z-index: 100;
	background: #ffcc33;
	font-size: 24px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.scroll-top a:link,
.scroll-top a:visited {
	color: #333333;
}

section {
	color: #ffffff;
	min-height: 400px;
	height: auto !important;
	height: 100%;
	padding-top: 100px;
}

.space-creator {
	height: 50px;
}

.bg-1 {
	background: url('http://www.theappacademy.us/img/main.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar-inverse {
	background: #333333 !important;
	border-bottom: 4px solid #ee1d23 !important;
}

.navbar-brand {
	font: 12px Lato !important;
	text-transform: uppercase;
	color: #FFF !important;
	letter-spacing: 2px;
	margin-top: 2px;
}

.red {
	color: #ee1d23
}

.black {
	color: #333333
}

#nav-bottom {
	background-color: #ee1d23
}


/* entire container, keeps perspective */

.flip-container {
	perspective: 1000;
}


/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
	width: 320px;
	height: 480px;
}


/* flip speed goes here */

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}


/* hide back of pane during swap */

.front,
.back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}


/* front pane, placed above back */

.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
	transform: rotateY(180deg);
}

.nav {
	margin-bottom: 0px;
	a {
		font: 500 11px Lato;
		letter-spacing: 2px;
		padding: 16px !important;
		color: #a3bfc6 !important;
		text-transform: uppercase;
		position: relative;
		z-index: 1000;
	}
	a:hover {
		color: #FFF !important;
	}
	li {
		position: relative;
	}
}

.navbar-inverse .navbar-toggle {
	border: none;
}

.navbar-collapse {
	box-shadow: none !important;
	border: none !important;
}

.navbar-inverse .navbar-toggle:hover {
	background: transparent !important;
}

.navbar-inverse .navbar-toggle:focus {
	background: transparent !important;
}

.navbar-inverse .navbar-toggle:active {
	background: transparent !important;
}

.icon-bar {
	background: #a3bfc6 !important;
}

.hover {
	display: block;
	position: absolute;
	width: 0%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0;
	opacity: 50;
}

@media (max-width: 767px) {
	.nav {
		padding-bottom: 20px;
		a {
			padding: 12px !important;
		}
	}
}

@media (max-width: 480px) {
	.nav {
		padding-bottom: 20px;
	}
}

.bg-2 {
	background: url('') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bg-3 {
	background: url('http://www.theappacademy.us/img/comp-sci-bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bg-4 {
	padding-top: 30px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.2)), to(rgba(255, 255, 255, 0)), color-stop(1, #000));
}